.blog-layout-main {

    display: flex;
    flex-direction: column;


    header {
        display: flex;
        background-color: #668AED;
        height: 70px;
        width: 100%;
        align-items: center;
        justify-content: center;

        h1 {
            font-size: 50px;
            color: white;

        }


    }


    .blog-layout-nav ul {

        display: flex;
        flex-direction: row;
        list-style-type: none;
        gap: 80px;
        align-items: center;
        justify-content: center;
        height: 50px;
        background-color: #AFC1F0;
        color: #656870!important;

        li:hover {
            cursor: pointer;
            transform:scale(1.1) ;
        }

    }

}