.main-container {
    height: 100%;
    color: white;

    &.big{
    
        font-size: 1.5rem;

    }


    &.dark {

        .main-layout--header {

            background-color: rgb(255, 255, 255);

            h1 {
                color: black;
            }

        }
    }

    .main-layout--main{

        .main-layout--menu{
            background-color: rgb(20, 20, 20);
            a{
                color: white;
            }
            li:hover{

                background-color: rgb(104, 102, 102);

            }
        }

    }

    &.light{
        .main-layout--header {

            background-color: rgb(0, 0, 0);

            h1 {
                color: rgb(255, 255, 255);
            }

        }

        .main-layout--main{
            color: black;
            background-color: rgba(255, 255, 255, 0.63);




            .main-layout--menu{
                background-color: rgb(255, 253, 253);
                a{
                    color: rgb(0, 0, 0);
                }
                h3{
                    color: black;
                }
                li:hover{
    
                    background-color: rgba(109, 104, 104, 0.219);
    
                }
            }
    
        }




    }





    .main-layout--header {
        position: relative;
        height: 60px;
    
        text-align: center;  
    
    }


    .main-layout--main {
        display: flex;
        overflow: hidden;
        min-height: 100%;

        .main-layout--menu {
            
            max-width: 180px;
            width: 100%;
            padding: 15px 0;
            display: flex;
            justify-content: center;
            height: 100%;
            padding-bottom: 500em;
            margin-bottom: -500em;


            a {
                text-decoration: none;
                

            }

            li {
                list-style: none;
                margin-top: 5px;
                padding: 5px 10px;

            }

            li:hover {
                cursor: pointer;
                

            }

            h3 {
                margin-left: 12px;
            }

        }

        .main-content {
            display: flex;
            flex: 5;
            align-items: center;
            justify-content: center;

        }


    }


}

