.card{
    display: flex;    
    margin-top: 2rem;
    flex-direction: column;
    color: rgb(0, 0, 0);
    width: 16rem;
    height:5rem;
    border: groove .05rem rgb(132, 116, 175);
    padding: px;
    background-color: rgb(255, 255, 255);
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    
        li{
            
            list-style: none;

    }

    
}